@font-face {
  font-family: 'titleFont';
  src: url('fonts/Freight_Big_Book_Italic.otf');
}

@font-face {
  font-family: 'eventsFont';
  src: url('fonts/avenir/AEH.ttf');
}

img{  
  position: fixed;
  height: 40rem;
  opacity: 0.3;
  padding-top: 10rem;
}

.section-name{
  position: fixed;
  padding-top: 12vh;
  margin-left: 25%;
  font-family: 'eventsFont';
  color: black;
  font-size: 4vw;

}

span{
  font-family: 'titleFont';
  font-size: 3vw;
}


.title{
  position:absolute;
  bottom: 0px;
  font-size: 2rem;
  color: white;
  font-family: 'eventsFont';
}

.date{
  position:absolute;
  bottom: 30px;
  font-size: 1.5rem;
  color:white;
  font-family: 'eventsFont';
}

.btn{
  margin-top: 90vh;
  margin-left: 10vw;
  position:fixed;
}

.button{
  background-color: #22B573;
  border: none;
  color: white;
  font-family: 'eventsFont';
}

.button.button-outline{
  background-color: #E6E6E6;
  color: white;
  font-family: 'eventsFont';
}

.columnss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 10rem;
}

.columnss div {
  width: 48%;
  padding: 3rem;
}
