@font-face {
	font-family: 'Freight_Big_Book_Italic';
	src: url('Freight_Big_Book_Italic.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}	

body {
	margin: 0;
	color: black;
}

/*Freight Text alternative Sumana or Jua*/
/*Futura alternative Muli*/

h4 {
	font-weight: 600;
	font-family: 'Muli', sans-serif;
/*	font-style: italic;*/
	font-size: 2.2rem;
/*	vertical-align: middle;*/
	padding-top: 8rem;

}

.itw {
	font-size: 5rem;
	font-weight: 800;
	padding-top: 2rem;
}

span {
	font-family: 'Jua', sans-serif;
	font-style: italic;
	color: black;
	font-size: 7rem;
/*	font-weight: 600;*/
}

.column.column-20 {
	height: 10rem;
	text-align: center;
}

.column.column-10 {
	border-right: 3px solid #22B573;
}

.row {
	border-bottom: 3px solid #22B573;
}






/**Media Queries**/

@media (min-width: 40rem){
.row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: 100%;
    }
}