@font-face {
  font-family: 'eventsFont';
  src: url('fonts/avenir/AEH.ttf');
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.event{
  width: 50%; 
}

.image{
  width: 50rem;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.left-box{
  flex-direction: column;
 }

.right-box{
  display: flex;
  flex-direction: column;
  width:50vw;
  text-align: center;
  justify-content: space-around;

}

.title{
  font-family: eventsFont;
  font-size: 2rem;
}

.button{
  background-color: #22B573;
  border: none;
  color: white;
  font-family: 'eventsFont';
}
