@font-face {
  font-family: 'eventsFont';
  src: url('fonts/avenir/AEH.ttf');
}

.content{
  display: flex;
  flex-wrap: wrap;
}

#event{
  
  height: 100vh;
}

.image{
  width: 50rem;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.left-box{
  flex-direction: column;
 }

.right-box{
  display: flex;
  flex-direction: column;
  width:50vw;
  text-align: right;
  justify-content: space-around;
}

p{
  font-family: eventsFont;
  font-size: 2rem;
}

.button{
  background-color: #22B573;
  border: none;
  color: white;
  font-family: 'eventsFont';
}
.btn{
  text-align: center;

}

#attendees{
  margin-top: 5rem;
  margin-left:5rem;
}

.attendee{
  padding:1rem;
}

h1{
  font-family: 'eventsFont';
  text-align:center;
} 
