@font-face {
  font-family: 'titleFont';
  src: url('fonts/Freight_Big_Book_Italic.otf');
}

@font-face {
  font-family: 'eventsFont';
  src: url('fonts/avenir/AEH.ttf');
}

.gif{  
  position: fixed;
  height: 40rem;
  opacity: 0.6;
  margin-top: 10rem;
  margin-left: 10rem;
}

.section-name{
  position: fixed;
  /*padding-top: 12vh;*/
  margin-left: 25%;
  font-family: 'eventsFont';
  color: black;
  font-size: 4vw;
}

span{
  font-family: 'titleFont';
  font-size: 3vw;
}


.title{
  /*position:absolute;*/
  /*bottom: 0px;*/
  font-size: 2rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'eventsFont';
}

.date{
  /*position:absolute;*/
  /*bottom: 30px;*/
  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'eventsFont';
}

.btn{
  margin-top: 90vh;
  margin-left: 10vw;
  position:fixed;
}

.button{
  background-color: #22B573;
  border: none;
  color: white;
  font-family: 'eventsFont';
}

.button.button-outline{
  background-color: #E6E6E6;
  color: white;
  font-family: 'eventsFont';
}

.event-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10rem;
  height: 100vh;
  
}

.event {
 width: 30rem;
  margin: 2rem;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;

}

.image-bloc{
  /*height:100vh;*/
}
