
/* Style inputs with type="text", select elements and textareas */
.sign-forms
{
  width: 600px;
  margin: auto;
  margin-top: 300px;
}

label
{
/*  color:white;*/
  font-size: 30px;
  font-family: 'Asap', sans-serif;
}

.flex-container {
  flex-grow: 1

}

.container
{
  position: relative;
  bottom: 12rem;
  border-radius: 5px;
  border-color: solid #22B573;
  /*background-color: #22B573;*/
  padding: 20px;
  /*-moz-box-shadow: 1px 1px 15px 3px #656565;*/
  /*-webkit-box-shadow: 1px 1px 15px 3px #656565;*/
  /*-o-box-shadow: 1px 1px 15px 3px #656565;*/
  /*box-shadow: 1px 1px 15px 3px #656565;*/
  /*filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);*/
}

input[type=text], select, textarea
{
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Asap', sans-serif;
}

input[type=password], select, textarea
{
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Asap', sans-serif;

}


input[type=email], select, textarea
{
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Asap', sans-serif;
}


/* Style the submit button with a specific background color etc */
input[type=submit]
{
  background-color: #22B573;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 220px;
  font-family: 'Asap', sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover
{
  background-color: #25a5c4;
}

#fname
{
  font-size:15px;
}

#lsname
{
  font-size:15px;
}

#Username
{
  font-size:15px;
}

#school
{
  font-size: 15px;
}

#password
{
  font-size: 15px;
}


#yourpass
{
font-size: 15px;
}

#mailing {
  font-size: 15px;
}

main{
  display: flex;
  width: 80%;
  justify-content: center;
}
